<tr class="w-100 mw6">
  <td class="pt3">
    <table class="footer w100">
      <tr colspan="7" width="100%">
        <td colspan="1" style="height: 4px; background-color: #EC008C"></td>
        <td colspan="1" style="height: 4px; background-color: #15BEF0"></td>
        <td colspan="1" style="height: 4px; background-color: #F26322"></td>
        <td colspan="1" style="height: 4px; background-color: #62489D"></td>
        <td colspan="1" style="height: 4px; background-color: #2CB34A"></td>
        <td colspan="1" style="height: 4px; background-color: #EE3124"></td>
        <td colspan="1" style="height: 4px; background-color: #F177AE"></td>
      </tr>
    </table>
    <table class="footer-row-1 footer">
      <tr>
        <td>
          <img
            class="pl3"
            src="https://svgshare.com/i/Ze9.svg"
            alt="Rihappy Mais"
          />
        </td>
        <td class="pr5">
          <p class="b footer-subtitle">O programa de benefícios da Ri Happy</p>
        </td>
        <td class="ph2">
          <img
            class="mw100"
            src="https://svgshare.com/i/ZeU.svg"
            alt="Google Play"
          />
        </td>
        <td>
          <img
            class="pr3"
            src="https://svgshare.com/i/Zdd.svg"
            alt="App Store"
          />
        </td>
      </tr>
    </table>
    <table class="footer-row-2 footer">
      <tr>
        <td class="white-90 pl3">
          <p class="f4 b">Aqui a brincadeira nunca acaba!</p>
          <p>Siga a Ri Happy e fique por dentro de todas as novidades e
            conteúdos para você e sua família</p>
        </td>
        <td class="social" colspan="5">
          <a href="#">
            <img
              class="ph3"
              src="https://svgshare.com/i/Zf3.svg"
              alt="Facebook"
            />
          </a>
        </td>
        <td class="social" colspan="5">
          <a href="#">
            <img
              class="ph3"
              src="https://svgshare.com/i/Zd5.svg"
              alt="Instagram"
            />
          </a>
        </td>
        <td>
          <a href="#">
            <img
              class="ph3"
              src="https://svgshare.com/i/Zee.svg"
              alt="LinkeIn"
            />
          </a>
        </td>
        <td>
          <a href="#">
            <img
              class="ph3"
              src="https://svgshare.com/i/Zdk.svg"
              alt="Whatsapp"
            />
          </a>
        </td>
        <td class="pr4">
          <a href="#">
            <img
              class="ph3"
              src="https://svgshare.com/i/Zdm.svg"
              alt="Youtube"
            />
          </a>
        </td>
      </tr>
    </table>
    <table class="footer-row-3 footer">
      <tr class="footer">
        <td>
          <p class="copyright white-90 ph2">
            Copyright 2020 Ri Happy Brinquedos S/A - Todos os direitos
            reservados - CNPJ 58.731.662/0001-11 - IE 142.145.578.110
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>