<tr style="display: flex; flex-direction: column; background-color: #F5F1E1;">
  <td style="color: #0062AC; font-weight: 700; margin-left: 3rem; margin-top: 3rem;">
    <img src="http://estagioacct.vteximg.com.br/arquivos/logo-brahma-big.png" alt="">
  </td>
  <td style="color: #0062AC; font-weight: 700; font-size: 18px; margin-top: 2rem; margin-left: 3rem;">
    REDES SOCIAIS
  </td>
  <td style="margin-top: 1rem; margin-left: 3rem;">
    <img src="http://estagioacct.vteximg.com.br/arquivos/sociais_brahma.png" alt="">
  </td>
  <td style="color: #0062AC; font-weight: 700; font-size: 18px; margin-top: 2rem; margin-left: 3rem;">
    SELO DE CONFIANÇA
  </td>
  <td style="margin-top: 1rem; margin-left: 3rem;">
    <img style="margin-bottom: 5rem;" src="http://estagioacct.vteximg.com.br/arquivos/selo_qualidade_brahma.png" alt="">
  </td>
</tr>

<tr style="display: flex; margin-left: 18rem; flex-direction: column; margin-top: -25rem; margin-bottom: 3rem;">
  <td style="color: #0062AC; font-weight: 700; font-size: 20px;">FALE CONOSCO</td>
  <td style="color: #555555; margin-top: 1rem">atendimento@choppbrahmaexpress.com.br</td>
  <td style="color: #555555; font-weight: 700; margin-top: 1rem">Atendimento:</td>
  <td style="color: #555555; margin-top: 0.3rem">Segunda a Sexta das 9h às 18h</td>
  <td style="color: #555555; margin-top: 0.3rem">Sábados das 10h às 17h</td>
  <td style="color: #555555; font-weight: 700; margin-top: 1rem">Assistência técnica (atendimento por
    telefone):</td>
  <td style="color: #555555; margin-top: 0.3rem">Domingo a Domingo das 9h às 23h</td>
  <td style="color: #0062AC; font-weight: 700; font-size: 20px; margin-top: 1rem">
    <img style="margin-right: 1rem" src="http://estagioacct.vteximg.com.br/arquivos/telefone_brahma.png" alt="">
    0800 888 1021
  </td>
</tr>

<tr style="padding-top: 5rem;
    display: block;">
  <td style="width: 100%;
    display: flex;
    justify-content: center;
    background-color: #DE2A27;
    color: white;
    font-weight: 700;
    padding: 1rem;">
    PROIBIDO PARA MENORES DE 18 ANOS BEBA COM MODERAÇÃO.
  </td>
</tr>