<tr class="w-100">
  <td>
    <table class="header w100">

      {{!-- Validar se o último nome é Priolli --}}
      {{#eq clientProfileData.lastName "AA"}}
      <tr>
        <td colspan="12" style="height: 4px; background-color: #2CB34A"></td>
      </tr>
      {{/eq}}
      <tr align="center">
        <td class="tc">
          <img style="margin: 20px 0" src="http://estagioacct.vteximg.com.br/arquivos/et-logo-brahma.png" />
        </td>
        <td style="text-align: center !important">
          <a style="text-decoration: none; color:  #0062AC; font-size: 14px; font-weight: bold;" href="#">CHOPPS</a>
        </td>
        <td style="text-align: right !important">
          <a style="text-decoration: none; color:  #0062AC; font-size: 14px; font-weight: bold;" href="#">BEBIDAS</a>
        </td>
        <td style="text-align: center !important">
          <a style="text-decoration: none; color:  #0062AC; font-size: 14px; font-weight: bold;" href="#">ACESSÓRIOS E
            SERVIÇOS</a>
        </td>
      </tr>
    </table>
    <table class="header w100">
      <td colspan="1" style="border-bottom: 1px solid #C4C4C4;"></td>
    </table>
  </td>
</tr>