<tr>
  <td class="ph4 pv3" style=" padding-left: 5rem !important; width: 70%; #F9F9F9;">
    <h2 style="color: #0062AC; font-weight: 700; font-size: 18px; padding-bottom: 1rem;
    border-bottom: 1px solid #EEEEEE; width:90%">((i18n.shipping.summaryTitle))</h2>
  </td>
</tr>
<tr>
<tr
  style="border-top: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; display: flex; align-items: center; margin: 0 auto; width: 85%;">
  <td style=" padding-left: 1rem !important;">
    <img src="http://estagioacct.vteximg.com.br/arquivos/produto-brahma.png" alt="">
  </td>
  <td style="margin-left: 2rem;">
    <p>Chopp Brahma Claro 50L | Você pode comprar agora e receber a partir de 01/07</p>
  </td>
</tr>
<tr style="border-bottom: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; margin-left: 2rem;
    display: flex;
    align-items: center; margin: 0 auto; width: 85%;
    justify-content: space-around;">
  <td>
    <p style="color: #0062AC; font-weight: 700;">2 Unidades</p>
    <p style="color: #555555">R$ 2.080,00</p>
  </td>
  <td>
    <p style="color: #0062AC; font-weight: 700;">Entrega até</p>
    <p style="color: #555555">30/03/2021</p>
  </td>
  <td>
    <p style="color: #0062AC; font-weight: 700;">Voltagem</p>
    <p style="color: #555555; text-align: center">110V</p>
  </td>
</tr>
<tr style="border-bottom: 1px solid #EEEEEE; 
    padding-top: 2rem !important;
    display: block;
    margin-left: 4rem;
    width: 80%;">
  <td></td>
</tr>
<tr style="display: flex;
    margin-left: 4rem !important;
    margin-top: 2rem; 
    margin-bottom: 0.5rem;
    width: 30%;
    justify-content: space-between">
  <td>
    <p style="display: inline; color: #555555">Subtotal:</p>
  </td>
  <td>
    <p style="display: inline; color: #555555">R$ 4.160,00</p>
  </td>
</tr>
<tr style="display: flex;
    margin-left: 4rem !important;
    margin-bottom: 0.5rem;
    width: 30%;
    justify-content: space-between">
  <td>
    <p style="display: inline; color: #555555">Desconto:</p>
  </td>
  <td>
    <p style="display: inline; color: #555555">R$ 0,00</p>
  </td>
</tr>
<tr style="display: flex;
    margin-left: 4rem !important;
    margin-bottom: 0.5rem;
    width: 30%;
    justify-content: space-between">
  <td>
    <p style="display: inline; color: #555555">Frete:</p>
  </td>
  <td>
    <p style="display: inline; color: #555555">R$ 50,00</p>
  </td>
</tr>
<tr style="display: flex;
    margin-left: 4rem !important;
    margin-bottom: 4rem;
    width: 30%;
    justify-content: space-between">
  <td>
    <strong>
      <p style="display: inline;">Total:</p>
    </strong>
  </td>
  <td>
    <strong>
      <p style="display: inline;">R$ 4.210,00</p>
    </strong>
  </td>
</tr>

