<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0"
          cellspacing="0">
          <!-- Header -->
          <!-- partial:partials/header.hbs -->
          <!-- partial -->

          <!-- Intro message -->
          <tr style="display: flex; align-items: center; margin-top: 4rem;">
            <td>
              <h3 style="color: #A38E63"> ((i18n.common.hi)), {{clientProfileData.firstName}}!</h3>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem; display: block; padding-bottom: 3rem;">
              ((i18n.order.yourOrder)) <strong>{{orderId}}</strong>, ((i18n.common.was)) <span
                style="color: #DE2A27; font-weight: 700; text-transform: uppercase; font-size: 16px;">((i18n.payment.cancelled))</span>,
              ((i18n.payment.paymentMissed))
            </td>
          </tr>

          <!-- partial:partials/order-summary.hbs -->
          <!-- partial -->


          <tr>
            <td style="padding-left: 2rem !important; color:#555555; padding-bottom: 2rem;">
              ((i18n.order.regards)), <br>
              ((i18n.order.team))
            </td>
          </tr>

          <!-- partial:partials/footer.hbs -->
          <!-- partial -->


        </table>
      </td>
    </tr>
  </table>
</body>

</html>