<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0"
          cellspacing="0">
          <!-- Header -->
          <!-- partial:partials/header.hbs -->
          <!-- partial -->
          <tr>
            <td style="text-align: center;" class="pa4">
              <img style="width: auto;" class="w-100"
                src="http://estagioacct.vteximg.com.br/arquivos/et-pagamento-aprovado-brahma.png" />
            </td>
          </tr>
          <!-- Intro message -->
          <tr style="display: flex; align-items: center;">
            <td style="padding-right: 1rem !important; padding-left: 0" class="ph4">
              <img src="http://estagioacct.vteximg.com.br/arquivos/et-cerveja-brahma.png" alt="cerveja">
            </td>
            <td>
              <h3 style="color: #A38E63"> ((i18n.order.thanks)), {{clientProfileData.firstName}}!</h3>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem; display: block">
              <h4 style="color: #0062AC; font-size: 16px; font-weight: 500;">PEDIDO {{orderId}}</h4>
            </td>

            <td style="padding-top: 0; display: block; color: #0062AC; font-weight: 500;">
              Realizado em {{formatDateTime creationDate}}
            </td>
          </tr>

          <tr>
            <td style="padding-top: 2rem">
              ((i18n.order.your)) <strong>((i18n.payment.approved))</strong> ((i18n.order.withSuccess))
              ((i18n.order.receiveEmail)) <strong>((i18n.order.confirmAvailability))</strong>
              ((i18n.order.endIntroMessage))
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem">
              ((i18n.order.notSure))
            </td>
          </tr>

          <tr>
            <td style="padding-top: 1rem">
              <strong>((i18n.order.approvedTime))</strong> ((i18n.order.endApprovedTimeMessage))
            </td>
          </tr>

          <tr>
            <td style="padding-top: 1rem">
              <strong>((i18n.order.forSafety))</strong>, ((i18n.order.requesting))
              <strong>((i18n.order.returnableProducts)) </strong>((i18n.order.endSafetyMessage))
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem">
              <button style="width: 100%;
                      border-radius: 5px;
                      height: 40px; 
                      border: none; 
                      background-color: #0062AC; 
                      color: #fff;">((i18n.order.myOrdersButton))
              </button>
            </td>
          </tr>

          <tr>
            <td style="color:#555555; padding-top: 1rem">
              ((i18n.order.regards)), <br>
              ((i18n.order.team))
            </td>
          </tr>

            <!-- partial:partials/order-summary.hbs -->
            <!-- partial -->


          <tr style="display: flex;
    margin-left: 2rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;">
            <td style="color: #0062AC; font-weight: 700; text-transform: uppercase; width:20%">
              Forma de pagamento
            </td>
            <td style="color: #0062AC; font-weight: 700; text-transform: uppercase; width:20%; margin-left: -2rem;">
              Endereço de entrega
            </td>
            <td style="color: #0062AC; font-weight: 700; text-transform: uppercase; width:20%;  margin-right: 2rem;">
              Forma de entrega
            </td>
          </tr>

          <tr style="display: flex;
    margin-left: 2rem;
    justify-content: space-between;
    margin-bottom: 4rem;">
            <td style="width: 19% !important; color: #555555">
              Boleto Bancário <strong>R$ 4.210,00</strong> à vista
            </td>
            <td style="width:25%; color: #555555">
              Rua Laurem, 211
              Moema - São Paulo/SP
              CEP: 04521-003 - Brasil
            </td>
            <td style="width:25%; color: #555555">
              Agendada, Sexta-feira
              24 de julho de 2020
              Entre 09:00 e 18:00
            </td>
          </tr>

          {{!-- validar se a cidade é Atibaia --}}
          {{#eq shippingData.address.city "AA"}}
          <tr>
            <td style="padding-bottom: 2rem;">
              <img src="https://www.atibaiasp.com.br/wp-content/uploads/2020/04/bandeira.png" alt="">
            </td>
          </tr>
          {{/eq}}


          <tr style="display: inline;margin-left: 7rem;">
            <td>
              <img src="http://estagioacct.vteximg.com.br/arquivos/union-brahma.png" alt="">
            </td>
          </tr>
          <tr
            style="display: flex;flex-direction: column;align-items: start;margin-top: -3.5rem;margin-left: 13rem; width: 50%;">
            <td style="color: #0062AC; font-weight: 700; font-size: 18px">LOJA RESPONSÁVEL</td>
            <td style="color: #555555; font-weight: 700; font-size: 18px; margin-top: 0.5rem">CHOPP BRAHMA EXPRESS MOEMA
            </td>
          </tr>

          <tr style="display: flex; flex-direction: column; margin-left: 7rem; margin-top: 2rem; margin-bottom: 4rem">
            <td style="color: #0062AC; font-weight: 700;">Endereço:</td>
            <td style="color: #555555; display: flex; width: 65%;">Al. dos Nhambiquara, 966 - Indianápolis - São
              Paulo/SP 04090-001</td>
            <td style="color: #0062AC; font-weight: 700; margin-top: 1rem">Contato da loja:</td>
            <td style="color: #555555">Telefone: (XX) 0000-0000</td>
            <td style="color: #0062AC; font-weight: 700; margin-top: 1rem">Horário de atendimento:</td>
            <td style="color: #555555"><strong>Segunda à Sexta:</strong> das 9:30 às 18:00</td>
            <td style="color: #555555; margin-top: 0.2rem"><strong>Sábado:</strong> das 8:30 às 17:30</td>
            <td style="color: #555555; margin-top: 0.2rem"><strong>Domingos e Feriados:</strong> Fechado</td>
          </tr>

          <!-- partial:partials/footer.hbs -->
          <!-- partial -->




        </table>
      </td>
    </tr>
  </table>
</body>

</html>